.footer {
  text-align: center;
  padding-top: 235px;
  background-color: #1e1e1e;
}
.footer h2 {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 40px;
  color: #f2f2f2;
}

.footer a {
  /* margin: 10px; */
  border-radius: 60px;
  background-color: #ffffff;
  text-decoration: none;
  padding: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #1d1e22;
}
.footer a:hover {
  box-shadow: 1px 1px 10px #ffffff;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  padding-top: 50px;
  text-align: center;
}

.icons img {
  margin: 1rem;
}

.icons img:hover {
  cursor: pointer;
}
