*{
    font-family: 'Montserrat';
font-style: normal;
}
.container {
  width: 100%;
  display: flex;
}
.box1{
    width: 50%;
    background-color: #1e1e1e;
}
.box1-logo {
  font-size: 48px;
  line-height: 59px;
  color: #f2f2f2;
  line-height: 100%;
  text-align: left;
  margin-left: 15%;
  margin-top: 10%;
  font-weight: 800px;
  width: 50%;
}
.box1-content{
    margin-left: 15%;
    margin-top: 30%;
  width: 70%;
}
#box1-h4 {
  font-size: 90px;
  color: #f2f2f2;
  text-align: left;
}

#box1-p {
  font-size: 32px;
  color: #f2f2f2;
  text-align: left;
  margin-top: 10px;
}
.box1-copyright{
    font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #D1D1D1;
margin-left: 15%;
margin-top: 30%;
}

.btn-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-top: 30%;
}

.btn-contact {
  width: 40%;
  margin: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  background-color: #2d2d2d;
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
}

.btn-contact:hover {
  background-color: #f2f2f2;
  color: #1d1d1d;
}

.btn-contact:active {
  background-color: #f2f2f2;
  color: #1d1d1d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-portfolio {
  width: 40%;
  margin: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  background-color: #f2f2f2;
  color: #2d2d2d;
  text-decoration: none;
  padding: 10px;
}
.btn-portfolio:hover {
  background-color: #1d1d1d;
  color: #f2f2f2;
}

.btn-portfolio:active {
  background-color: #1d1d1d;
  color: #f2f2f2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.box2{
    width: 50%;
}
.box2 img {
  width: 100%;
  height: 100%;
}
@media (min-width:2250px) {
    #box1-h4 {
        font-size: 120px;
        font-weight: 900;
      }
}
@media (max-width:1024px) {
      .box1-logo {
        font-size: 44px;
        
      }
      #box1-h4 {
        font-size: 70px;
        font-weight: 800;
      }
      
      #box1-p {
        font-size: 28px;
      }
      .box1-copyright{
      font-size: 14px;
      }     
      .btn-container{
        width: 60%;
      } 
      .btn-contact {
        font-size: 15px;
      }
      
      .btn-portfolio {
        font-size: 15px;
      }
}
@media (max-width:768px) {
    .container {
        flex-wrap: wrap;
      }
      .box1{
        width: 100%;
      }
      .box2{
        width: 100%;
      }
      .btn-container{
        width: 65%;
      }
      .btn-portfolio{
        width: 48%;
      }
      .btn-contact{
        width: 48%;
      }
}